<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.remindmed">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SkillTheme">

        <meta-data
            android:name="com.robotemi.sdk.metadata.SKILL"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.robotemi.sdk.metadata.ACTIONS"
            android:value="home.welcome, home.dance, home.sleep" />
        <meta-data
            android:name="com.robotemi.sdk.metadata.KIOSK"
            android:value="TRUE" />
        <meta-data
            android:name="@string/metadata_permissions"
            android:value="com.robotemi.permission.face_recognition, com.robotemi.permission.map, com.robotemi.permission.settings, com.robotemi.permission.sequence" />


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".ui.TaskBroadcastReceiver.TaskBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".Services.SearchingUserService"/>
        <service android:name=".Services.RescheduleTaskService"/>
        <activity android:name=".ui.notifications.NotificationActivity"/>

    </application>

</manifest>